@import url('https://rsms.me/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Inter var', sans-serif;
  background: linear-gradient(155deg, #ffffff 20%, #a5a3a3);
  color: #101015;
}

* {
  transition: all 200ms ease;
}

body.dark {
  background: linear-gradient(155deg, #000000 20%, #272727);
  color: rgb(226, 226, 226);
}

body.dark a {
  color: rgb(226, 226, 226);
}

a,
button,
form,
h2,
h1 {
  pointer-events: all;
}

a {
  pointer-events: all;
  color: #101015;
}
